@{
    ViewData["Title"] = "AccessDenied Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Acceso Denegado</h1>
    <p>Usted no está autorizado para ingresar a este sitio.</p>
</div>
