@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Pago Procesado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Pago Realizado con exito</h1>
    <p>Vuelva al inicio para seguir usando el portal de pagos</p>
</div>